.header {
    & .menu-burger {
        position: absolute;
        display: none;
        left: 5px;
        top: 5px;

        & img {
            width: 40px;
        }
    }

    & .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        max-width: 650px;
        height: 50px;
        margin: 0 auto;
        font-size: 14px;
    
        & a {
            line-height: 40px;
            white-space: nowrap;
            color: #333333;
        }
    }
    
    & .title{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        height: 120px;
        border-bottom: 1px solid #EFEFEF;
        background-color: white;
    
        & .logo{
            display: flex;
            align-items: center;
            
            & img {
                margin-right: 20px;
            }
            & span {
                font-weight: 700;
                font-size: 36px;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                color: #66C05D;
            }
        }
    }
    & .contents {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 875px;
        column-gap: 10px;
        height: 80px;
        align-items: center;
    
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 0px;
            width: 100vw;
            height: 100%;
            transform: translateX(-50%);
            background-color: white;
            z-index: -2;
        }

        & a {
            line-height: 40px;
            font-size: 16px;
            color: #000000;
        }
        
    }
}

@media (max-width: 768px) {
    .header {
        & .menu-burger {
            display: block;
        }
        & .menu {

            & a {
                display: none;
            }
            
        }
        & .title{
            & .logo{
                display: flex;
                align-items: center;
                
                & img {
                    margin-right: 10px;
                    max-width: 50px;
                }
                & span {
                    font-size: 24px;
                }
            }
            .contact{
                width: 260px;
                flex-direction: column;
                row-gap: 10px;
                width: fit-content;
                
                & span {
                    font-size: 14px;
                    color: #000000;
                    white-space: nowrap;
                }
                & a {
                    width: 120px;
                    height: 30px;
                    font-size: 12px;
                }
            }
        }
        & .contents {
            display: none;
        }
    }
}




